@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager Navigation;
@inject HttpClient Http

<h3>Login to Access Application</h3>

<EditForm Model="@_loginModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label>Username</label>
        <InputText id="email" @bind-Value="_loginModel.Username" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Password</label>
        <InputText id="password" type="password" @bind-Value="_loginModel.Password" class="form-control"/>
    </div>
    <div class="form-group mt-1">
        <button type="submit" class="btn btn-primary w-100">Login Now</button>
    </div>
</EditForm>

@code {
    private readonly LoginViewModel _loginModel = new();

    private async Task HandleValidSubmit()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:7061/api/authentication/login", _loginModel);
        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<LoginResponse>();
            await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).Login(result.JwtToken, result.Expiration, result.RefreshToken);
            Navigation.NavigateTo("/");
        }
    }
}