@page "/particular-campaign-influencer"
<MudGrid>
	<MudItem xs="12">
		<div class="d-flex flex-row align-center">
			<MudImage Src="" Width="50" Height="50" Alt="Employee Image" Class="rounded-circle me-2" />
			<MudText Typo="Typo.h5 ">Name Agentie </MudText>
		</div>

	</MudItem>
	<MudItem xs="6">
		<MudImage Src=https://picsum.photos/200/300Width Width="332" Height="250"Class="rounded-lg ma-4" />
	</MudItem>
	<MudItem xs="6">
		<MudImage Src=https://picsum.photos/200/300 Width="332" Height="250" Class="rounded-lg ma-4" />
	</MudItem>
	<MudItem xs="12">
		<MudText Typo="Typo.h5" Class="mb-2">Descriere de Brand</MudText>

		<MudList T="string">
			<MudListItem Text="Brandul nostru oferă inovație și calitate superioară clienților." />
			<MudListItem Text="Ne concentrăm pe experiențe unice și produse durabile." />

			<MudListItem Text="Construim relații de încredere cu fiecare interacțiune." />

			<MudListItem Text="Prioritizăm sustenabilitatea și responsabilitatea socială." />
			<MudListItem Text="Creăm soluții care inspiră și transformă vieți." />


         </MudList>
	</MudItem>
	
</MudGrid>

@code {

}
