@page "/search-results"

<section>
	<div class="swiper mySwiper container">
		<div class="swiper-wrapper content">
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="images/img1.jpg" alt="">
					</div>

					<div class="media-icons">
						<i class="fa-brands fa-facebook"></i>
						<i class="fa-brands fa-instagram"></i>
						<i class="fa-brands fa-tiktok"></i>
					</div>

					<div class="name-profession">
						<span class="name">Marius</span>
						<span class="profession">Web Developer</span>
					</div>

					<div class="rating">
						<span class="star" data-value="1"><i class="fas fa-star"></i></span>
						<span class="star" data-value="2"><i class="fas fa-star"></i></span>
						<span class="star" data-value="3"><i class="fas fa-star"></i></span>
						<span class="star" data-value="4"><i class="fas fa-star"></i></span>
						<span class="star" data-value="5"><i class="fas fa-star"></i></span>
					</div>

					<div class="button">
						<button class="aboutMe">About Me </button>
						<button class="hireMe">Hire Me </button>
					</div>
				</div>
			</div>


			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="images/img2.jpg" alt="">
					</div>

					<div class="media-icons">
						<i class="fa-brands fa-facebook"></i>
						<i class="fa-brands fa-instagram"></i>
						<i class="fa-brands fa-tiktok"></i>
					</div>

					<div class="name-profession">
						<span class="name">Stefan</span>
						<span class="profession">Artist</span>
					</div>

					<div class="rating">
						<span class="star" data-value="1"><i class="fas fa-star"></i></span>
						<span class="star" data-value="2"><i class="fas fa-star"></i></span>
						<span class="star" data-value="3"><i class="fas fa-star"></i></span>
						<span class="star" data-value="4"><i class="fas fa-star"></i></span>
						<span class="star" data-value="5"><i class="fas fa-star"></i></span>
					</div>

					<div class="button">
						<button class="aboutMe">About Me </button>
						<button class="hireMe">Hire Me </button>
					</div>
				</div>
			</div>

			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="images/img3.jpg" alt="">
					</div>

					<div class="media-icons">
						<i class="fa-brands fa-facebook"></i>
						<i class="fa-brands fa-instagram"></i>
						<i class="fa-brands fa-tiktok"></i>
					</div>

					<div class="name-profession">
						<span class="name">Violeta</span>
						<span class="profession">Influencer</span>
					</div>

					<div class="rating">
						<span class="star" data-value="1"><i class="fas fa-star"></i></span>
						<span class="star" data-value="2"><i class="fas fa-star"></i></span>
						<span class="star" data-value="3"><i class="fas fa-star"></i></span>
						<span class="star" data-value="4"><i class="fas fa-star"></i></span>
						<span class="star" data-value="5"><i class="fas fa-star"></i></span>
					</div>

					<div class="button">
						<button class="aboutMe">About Me </button>
						<button class="hireMe">Hire Me </button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="images/img4.jpg" alt="">
					</div>

					<div class="media-icons">
						<i class="fa-brands fa-facebook"></i>
						<i class="fa-brands fa-instagram"></i>
						<i class="fa-brands fa-tiktok"></i>
					</div>

					<div class="name-profession">
						<span class="name">Maria</span>
						<span class="profession">Make-up Artist</span>
					</div>

					<div class="rating">
						<span class="star" data-value="1"><i class="fas fa-star"></i></span>
						<span class="star" data-value="2"><i class="fas fa-star"></i></span>
						<span class="star" data-value="3"><i class="fas fa-star"></i></span>
						<span class="star" data-value="4"><i class="fas fa-star"></i></span>
						<span class="star" data-value="5"><i class="fas fa-star"></i></span>
					</div>

					<div class="button">
						<button class="aboutMe">About Me </button>
						<button class="hireMe">Hire Me </button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="images/img5.jpg" alt="">
					</div>

					<div class="media-icons">
						<i class="fa-brands fa-facebook"></i>
						<i class="fa-brands fa-instagram"></i>
						<i class="fa-brands fa-tiktok"></i>
					</div>

					<div class="name-profession">
						<span class="name">Ruxandra</span>
						<span class="profession">Ecologist</span>
					</div>

					<div class="rating">
						<span class="star" data-value="1"><i class="fas fa-star"></i></span>
						<span class="star" data-value="2"><i class="fas fa-star"></i></span>
						<span class="star" data-value="3"><i class="fas fa-star"></i></span>
						<span class="star" data-value="4"><i class="fas fa-star"></i></span>
						<span class="star" data-value="5"><i class="fas fa-star"></i></span>
					</div>

					<div class="button">
						<button class="aboutMe">About Me </button>
						<button class="hireMe">Hire Me </button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="images/img6.jpg" alt="">
					</div>

					<div class="media-icons">
						<i class="fa-brands fa-facebook"></i>
						<i class="fa-brands fa-instagram"></i>
						<i class="fa-brands fa-tiktok"></i>
					</div>

					<div class="name-profession">
						<span class="name">Ramon</span>
						<span class="profession">Fermier</span>
					</div>

					<div class="rating">
						<span class="star" data-value="1"><i class="fas fa-star"></i></span>
						<span class="star" data-value="2"><i class="fas fa-star"></i></span>
						<span class="star" data-value="3"><i class="fas fa-star"></i></span>
						<span class="star" data-value="4"><i class="fas fa-star"></i></span>
						<span class="star" data-value="5"><i class="fas fa-star"></i></span>
					</div>

					<div class="button">
						<button class="aboutMe">About Me </button>
						<button class="hireMe">Hire Me </button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="images/img7.jpg" alt="">
					</div>

					<div class="media-icons">
						<i class="fa-brands fa-facebook"></i>
						<i class="fa-brands fa-instagram"></i>
						<i class="fa-brands fa-tiktok"></i>
					</div>

					<div class="name-profession">
						<span class="name">Mihnea</span>
						<span class="profession">Padurar</span>
					</div>

					<div class="rating">
						<span class="star" data-value="1"><i class="fas fa-star"></i></span>
						<span class="star" data-value="2"><i class="fas fa-star"></i></span>
						<span class="star" data-value="3"><i class="fas fa-star"></i></span>
						<span class="star" data-value="4"><i class="fas fa-star"></i></span>
						<span class="star" data-value="5"><i class="fas fa-star"></i></span>
					</div>

					<div class="button">
						<button class="aboutMe">About Me </button>
						<button class="hireMe">Hire Me </button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-pagination"></div>
</section>



<script>
	var swiper = new Swiper(".mySwiper", {
		slidesPerView: 1,
		spaceBetween: 30,
		loop: true,
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
		},
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
	});
</script>


@code {

}
