@page "/contracts/all"

<MudStack Spacing="4">
    @for (var i = 0; i < 5; i++)
    {
    <MudPaper Class="pa-2" Elevation="5">
        <MudGrid>
            <MudItem xs="4">
                <MudImage Src="https://picsum.photos/300/" Fluid="true" Alt="Random Image" Elevation="25" Class="rounded-lg ma-4"/>
            </MudItem>
            <MudItem xs="8">
                <MudText Typo="Typo.h5">Campaign for a new product!</MudText>
                <MudText Typo="Typo.h6">Black-view Watch R3 Pro Pink</MudText>
                <MudText Typo="Typo.subtitle1">by Xiaomi, Inc</MudText>

                <MudText>Campaign Period: <MudChip T="string">05/25/2022</MudChip> - <MudChip T="string">06/03/2022</MudChip></MudText>
                <MudText>Application Status: <MudChip T="string" Icon="@Icons.Material.Filled.Pending" Color="Color.Warning">Pending</MudChip></MudText>
                <MudText>Creators Wanted: <MudChip T="string">0/10</MudChip></MudText>
                <MudText>Requirements: <MudChip T="string">Followers: 18M+</MudChip> <MudChip T="string">Average Views: 900k+</MudChip> <MudChip T="string">Audience: Female</MudChip></MudText>
                <MudText>Join our exciting campaign to promote the latest in cutting-edge technology! We’re looking for tech-savvy influencers to review and create content around our brand-new smart gadgets, including wireless headphones, smart home assistants, and portable charging devices.</MudText>
                
                <div class="my-2">
                    <MudText>Progress:</MudText> 
                    <MudProgressLinear Color="Color.Error" Rounded="true" Size="Size.Small" Value="25" />
                    <MudText Typo="Typo.subtitle1">Next Steps: Upload your content!</MudText>
                </div>
                
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">View</MudButton>
            </MudItem>
        </MudGrid>
    </MudPaper>
    }
</MudStack>

@code {
    // TODO: Query the API to retrieve the contracts
}
