<div>
    @if (Deliverables is null)
    {
        <MudSkeleton Animation="Animation.Wave" Class="mb-4" Height="40px" Width="150px"/>
        for (var i = 0; i < 3; i++)
        {
            <MudSkeleton Animation="Animation.Wave" Class="mb-1" Height="20px" Width="70px"/>
            <MudSkeleton Width="100%" Height="20px" Animation="Animation.Wave"/>
            <MudSkeleton Animation="Animation.Wave" Height="15px" Width="100%" Class="mb-2"/>
        }
    }
    else
    {
        <MudText Typo="Typo.h6" GutterBottom="true">Deliverables</MudText>
        <MudTabs ApplyEffectsToContainer="true" Elevation="2" PanelClass="pa-6" Rounded="true">

            @foreach (var deliverable in Deliverables)
            {
                <MudTabPanel Icon="@deliverable.Platform.Icon" Text="@deliverable.Platform.Name">
                    <MudExpansionPanels Class="mt-2" MultiExpansion="true">
                        @foreach (var requirement in deliverable.ContentRequirements)
                        {
                            <MudExpansionPanel Text="@requirement.ContentType">@requirement.Description</MudExpansionPanel>
                        }
                    </MudExpansionPanels>
                </MudTabPanel>
            }
        </MudTabs>
    }
</div>

@code {
    [Parameter] public List<PlatformDeliverable>? Deliverables { get; set; }
}