<div>
    @if (Requirements is null)
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="150px" Height="24px" Class="mb-2" Animation="Animation.Wave"/>
        <MudStack Row>
            @for (var i = 0; i < 3; i++)
            {
                <MudSkeleton Animation="Animation.Wave" Class="rounded-pill" Height="30px" SkeletonType="SkeletonType.Rectangle" Width="100px"/>
            }
        </MudStack>
    }
    else
    {
        <MudText Typo="Typo.h6" GutterBottom="true">Requirements</MudText>
        <MudChip T="string" Variant="Variant.Text">Followers: @FormatNumber(Requirements.MinFollowerCount)+</MudChip>
        <MudChip T="string" Variant="Variant.Text">Average Views: @FormatNumber(Requirements.MinEngagementRate)+</MudChip>
        <MudChip T="string" Variant="Variant.Text">Audience: @Requirements.Audience</MudChip>
    }
</div>

@code {
    [Parameter] public QualificationCriteria? Requirements { get; set; }

    public static string FormatNumber(int number)
    {
        return number switch
        {
            >= 1_000_000 => $"{number / 1_000_000.0:F1}M",
            >= 1_000 => $"{number / 1_000.0:F1}k",
            _ => number.ToString()
        };
    }

}