<div>
    @if (Platforms is null)
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="150px" Height="24px" Class="mb-2" Animation="Animation.Wave"/>
        <MudStack Row>
            @for (var i = 0; i < 3; i++)
            {
                <MudSkeleton Animation="Animation.Wave" Class="rounded-circle" Height="30px" SkeletonType="SkeletonType.Circle" Width="30px"/>
            }
        </MudStack>
    }
    else
    {
        <MudText Typo="Typo.h6" GutterBottom="true">Platforms</MudText>
        <MudStack Row>
            @foreach (var platform in Platforms)
            {
                <MudIcon Size="Size.Medium" Icon="@GetPlatformIcon(platform)" Title="@platform.Name"/>
            }
        </MudStack>
    }
</div>

@code {
    [Parameter] public List<Platform>? Platforms { get; set; }

    public string GetPlatformIcon(Platform platform)
    {
        return platform.Name switch
        {
            "Instagram" => Icons.Custom.Brands.Instagram,
            "Facebook" => Icons.Custom.Brands.Facebook,
            "Twitter" => Icons.Custom.Brands.Twitter,
            "LinkedIn" => Icons.Custom.Brands.LinkedIn,
            "TikTok" => Icons.Custom.Brands.TikTok,
            _ => ""
        };
    }

}