<div>
    @if (Description is null)
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="150px" Height="24px" Class="mb-2" Animation="Animation.Wave"/>
        <MudSkeleton Animation="Animation.Wave"/>
        <MudSkeleton Animation="Animation.Wave"/>
        <MudSkeleton Animation="Animation.Wave"/>
        <MudSkeleton Animation="Animation.Wave"/>
        <MudSkeleton Animation="Animation.Wave"/>
    }
    else
    {
        <MudText Typo="Typo.h6" GutterBottom="true">Description</MudText>
        <MudText>@Description</MudText>
    }
</div>

@code {
    [Parameter] public string? Description { get; set; }
}