@page "/logout"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider;

<div class="loader loader-bouncing">
    <span>Redirecting...</span>
</div>

@code{

    protected override void OnInitialized()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).Logout();
        NavigationManager.NavigateTo("/login");
    }

}