@page "/campaign-influencer"

@using iTrendz.Domain.Interfaces
@inject NavigationManager Navigation
@inject ICampaignService CampaignService

<MudGrid Spacing="2">
    <MudItem xs="12" sm="6" md="4">
        <MudCard Elevation="1" Class="relative" Style="position: relative;" OnClick="NavigateToPage">
            <div class="relative" Style="height: 165px;">
                <MudCardMedia Image="https://picsum.photos/200/300" Height="165" Style="width: 100%; height: 100%;" />
            </div>

            <MudCardContent Class="relative" Style="padding-bottom: 50px;">
                <MudText Typo="Typo.h5" Style="text-align: center; margin-bottom: 20px;">Title</MudText>
                <MudText Typo="Typo.body2">
                    Campania noastră de publicitate îți oferă vizibilitate maximă, conectându-te direct cu publicul țintă prin strategii inovatoare și eficiente.
                    Folosim canale digitale de top pentru a atrage atenția asupra produsului tău, crescând notorietatea brandului și conversiile. Mesajul tău va ajunge
                    la milioane de utilizatori relevanți, generând impact imediat și măsurabil.
                </MudText>

                <!-- Butonul MudFab poziționat în colțul dreapta jos -->
                <div class="fab-container">
                    <MudFab Color="Color.Success" StartIcon=@Icons.Material.Filled.Add Size="Size.Small" Label="Apply" />
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<style>
    .fab-container {
        position: absolute;
        bottom: 10px;
        right: 10px; /* Modificat pentru a fi în dreapta jos */
    }
</style>

@code {
  
}
